    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/js/script.js"defer></script>
    <title> Noisy Neighbors All Posts </title>
</head>
<body>

    <!--<a href="/logout">log out</a>
    <a href="http://localhost:3000/posts/form">createPost</a>-->
    
    <header class="header_login">
        <a href="http://localhost:3000/posts/index"><img src="/images/neighbors_music_logo.svg" class="logo_login"></a>  
       <form action="search" method="POST">
        <div class="search_bar">
            <input name="artistName" type="text"/>
            <input type="submit" value="Search" />
        </div>
    </form>

        <div class="icon_nav">
            <a href="http://localhost:3000/user" id="profile_icon"><img src="/images/large_profile.svg"></a>
            <a href="http://localhost:3000/posts/form" id="create_icon"><img src="/images/create.svg"></a>
        </div>

    </header>
    
    <div id="header_spacer">
    
    </div>
    <%Posts.forEach(function(post) { %>
        
    <div class="column">
        <div class="container_row main_container">
            <div class="container_column">
                <p class="artist_name"><%=post.artistName%></p>
                <p class="event_date"><%=post.eventDate%></p>
            </div>
            <div class="container_column">
                <p class="venue_name"><%=post.venueName %></p>
                <p class="venue_location"><%=post.venueLocation %></p>
            </div>
        </div>
    
        <div  class="container_row hidden_container">
            <div class="container_column container_spacer">
                <p class="event_name"><%=post.eventName %></p>
                <p class="event_time"><%=post.eventTime %></p>
                <a href="<%=post.offerTicket%>">Buy Tickets</a>
            </div> 
        </div>
    </div>
    <% }); %>
    </div>
</body>
</html>